@{
}
<!-- Header Menu-->
<section class="navbar_section">
    <div class="container">
        <h1 class="navbar_title">Hotelname</></h1>
        <!-- Header links-->
        <div class="navbar_links">
        @if (User.Identity.IsAuthenticated)
        {
                <a href="@Url.Action("Index", "Home")" class="navlink">Home</a>
                <a href="@Url.Action("Index","RoomsAndSuits")" class="navlink">Rooms & Suits</a>
                <a href="@Url.Action("Index","Facility")" class="navlink">Facilities & Services</a>
                <a href="@Url.Action("Index","Restaurant")" class="navlink">Our Restaurant</a>
                <a href="@Url.Action("Index","About")" class="navlink">About Us</a>
                <a href="@Url.Action("Index","Contact")" class="navlink">Contact</a>
                <a href="@Url.Action("Index","Contact")" class="navlink">My Bookings</a>
                <a href="@Url.Action("Logout", "Authentication")" class="navlink">Logout</a>
        }
        else
        {
                <a href="@Url.Action("Index", "Home")" class="navlink">Home</a>
                <a href="@Url.Action("Index","RoomsAndSuits")" class="navlink">Rooms & Suits</a>
                <a href="@Url.Action("Index","Facility")" class="navlink">Facilities & Services</a>
                <a href="@Url.Action("Index","Restaurant")" class="navlink">Our Restaurant</a>
                <a href="@Url.Action("Index","About")" class="navlink">About Us</a>
                <a href="@Url.Action("Index","Contact")" class="navlink">Contact</a>
                <a href="@Url.Action("Index", "Authentication")" class="navlink">Login</a> 
        }
        </div>
    </div>
</section>